Importing module.

In [1]:
import pandas as pd

 Reading iris.csv as a dataframe called df1

In [52]:
df1=pd.read_csv('iris.csv')

Checking the head of the DataFrame.

In [53]:
df1.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

Checking number of 'na' present.

In [54]:
df1.isnull().sum()

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64

Counting the number of each kind of flower and printing that.

In [55]:
l=list(df1["variety"].value_counts())
for element in l:
    print(element,end=" ")

50 50 50

Displaying the data of flower "Iris-virginica" where petal-length>1.5

In [56]:
df1[(df1["variety"]=="Virginica") & (df1["petal.length"]>1.5)]

     sepal.length  sepal.width  petal.length  petal.width    variety
100           6.3          3.3           6.0          2.5  Virginica
101           5.8          2.7           5.1          1.9  Virginica
102           7.1          3.0           5.9          2.1  Virginica
103           6.3          2.9           5.6          1.8  Virginica
104           6.5          3.0           5.8          2.2  Virginica
105           7.6          3.0           6.6          2.1  Virginica
106           4.9          2.5           4.5          1.7  Virginica
107           7.3          2.9           6.3          1.8  Virginica
108           6.7          2.5           5.8          1.8  Virginica
109           7.2          3.6           6.1          2.5  Virginica
110           6.5          3.2           5.1          2.0  Virginica
111           6.4          2.7           5.3          1.9  Virginica
112           6.8          3.0           5.5          2.1  Virginica
113           5.7          2.5           5.0          2.0  Virginica
114           5.8          2.8           5.1          2.4  Virginica
115           6.4          3.2           5.3          2.3  Virginica
116           6.5          3.0           5.5          1.8  Virginica
117           7.7          3.8           6.7          2.2  Virginica
118           7.7          2.6           6.9          2.3  Virginica
119           6.0          2.2           5.0          1.5  Virginica
120           6.9          3.2           5.7          2.3  Virginica
121           5.6          2.8           4.9          2.0  Virginica
122           7.7          2.8           6.7          2.0  Virginica
123           6.3          2.7           4.9          1.8  Virginica
124           6.7          3.3           5.7          2.1  Virginica
125           7.2          3.2           6.0          1.8  Virginica
126           6.2          2.8           4.8          1.8  Virginica
127           6.1          3.0           4.9          1.8  Virginica
128           6.4          2.8           5.6          2.1  Virginica
129           7.2          3.0           5.8          1.6  Virginica
130           7.4          2.8           6.1          1.9  Virginica
131           7.9          3.8           6.4          2.0  Virginica
132           6.4          2.8           5.6          2.2  Virginica
133           6.3          2.8           5.1          1.5  Virginica
134           6.1          2.6           5.6          1.4  Virginica
135           7.7          3.0           6.1          2.3  Virginica
136           6.3          3.4           5.6          2.4  Virginica
137           6.4          3.1           5.5          1.8  Virginica
138           6.0          3.0           4.8          1.8  Virginica
139           6.9          3.1           5.4          2.1  Virginica
140           6.7          3.1           5.6          2.4  Virginica
141           6.9          3.1           5.1          2.3  Virginica
142           5.8          2.7           5.1          1.9  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

Finding the maximum value of the feature for each kind of flower.

In [57]:
m1=df1.groupby("variety").max()

Finding the minimum value of the feature for each kind of flower.

In [58]:
m2=df1.groupby("variety").min()

Finding the mean value of the feature for each kind of flower.

In [59]:
m3=df1.groupby("variety").mean()

Names of flower variety.

In [60]:
names=df1["variety"].unique()

List of features.

In [61]:
property=df1.columns

Displaying the maximum, minimum and mean in appropriate format.

In [63]:
for name in names:
    for pro1 in property[:-1]:
        print('%.2f'%m2.loc[name,pro1],end=" ")
    print(name)
    for pro2 in property[:-1]:
        print('%.2f'%m1.loc[name,pro2],end=" ")
    print(name)
    for pro3 in property[:-1]:
        print('%.2f'%m3.loc[name,pro3],end=" ")
    print(name)

4.30 2.30 1.00 0.10 Setosa
5.80 4.40 1.90 0.60 Setosa
5.01 3.43 1.46 0.25 Setosa
4.90 2.00 3.00 1.00 Versicolor
7.00 3.40 5.10 1.80 Versicolor
5.94 2.77 4.26 1.33 Versicolor
4.90 2.20 4.50 1.40 Virginica
7.90 3.80 6.90 2.50 Virginica
6.59 2.97 5.55 2.03 Virginica

Reading terrorismData.csv as a dataframe called df2

In [4]:
df2=pd.read_csv("terrorismData.csv")

Checking the head of the DataFrame.

In [5]:
df2.head()

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary

Finding unique elements in Day.

In [11]:
df2["Day"].unique()

array([ 2,  0,  1,  3,  6,  8,  9, 10, 11, 12, 13, 14, 15, 19, 20, 21, 22,
       25, 26, 27, 28, 30, 31,  4,  7, 16, 17, 18, 23, 24,  5, 29],
      dtype=int64)

Finding the number of cases where day is 0.

In [12]:
len(df2[df2["Day"]==0])

891

Finding unique elements in Month.

In [13]:
df2["Month"].unique()

array([ 7,  0,  1,  2,  3,  4,  5,  6,  8,  9, 10, 11, 12], dtype=int64)

Finding the number of cases where month is 0.

In [14]:
len(df2[df2["Month"]==0])

20

Dropping cases where Day is 0.

In [15]:
df2.drop(df2[df2["Day"]==0].index,inplace=True)

Dropping cases where Month is 0.

In [16]:
df2.drop(df2[df2["Month"]==0].index,inplace=True)

Checking number of 'na' present.

In [23]:
df2.isnull().sum()

Year               0
Month              0
Day                0
Country            0
State            418
Region             0
City             431
Latitude        4469
Longitude       4470
AttackType         0
Killed         10151
Wounded        16128
Target           631
Summary        65528
Group              0
Target_type        0
Weapon_type        0
dtype: int64

Dropping irrelevant informations.

In [24]:
df2.drop(['State','City','Latitude','Longitude','Killed','Wounded','Target','Summary'],axis='columns',inplace=True)

Checking number of 'na' present.

In [25]:
df2.isnull().sum()

Year           0
Month          0
Day            0
Country        0
Region         0
AttackType     0
Group          0
Target_type    0
Weapon_type    0
dtype: int64

Name of the country with highest number of Terror Attack.

In [28]:
c=list(dict(df2["Country"].value_counts().head(1)).keys())[0]

Number of attacks in that country.

In [29]:
attack=list(dict(df2["Country"].value_counts().head(1)).values())[0]

Year with most number of attacks in that country.

In [30]:
year=list(dict(df2[(df2["Country"]==c)]["Year"].value_counts().head(1)).keys())[0]

Displaying informations.

In [31]:
print(c,attack,year)

Iraq 24616 2014

Creating a new Dataframe df2 which contains the informations from 26th May 2014.

In [35]:
df3=df2[(df2["Year"]>2014) | ((df2["Year"]==2014) & (df2["Month"]>5)) | ((df2["Year"]==2014) & (df2["Month"]==5) & (df2["Day"]>=26))]

Total attacks in India from 26th May 2014.

In [41]:
count=len(df3[df3["Country"]=="India"])

Group which has done maximum number of attacks.

In [49]:
grp=list(dict(df3["Group"].value_counts().head(2)).keys())[-1]

Displaying informations.

In [51]:
print(count,grp)

3336 Islamic State of Iraq and the Levant (ISIL)